/* include your fonts */
@font-face {
  font-family: "Kolle";
  src: url("../assets/fonts/KolleVF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Friedl";
  src: url("../assets/fonts/Friedl-Beta1_240227-VF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* keep this to get rid of the default styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Kolle";
  scroll-behavior: smooth;
}

main {
  position: fixed;
  inset: 20px;
  border-radius: 10px;
  overflow: scroll;
  background-color: #807ac6;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

.formen {
  position: fixed;
  inset: 20px;
  display: grid;
  grid-template-columns: 3fr 2fr 0fr;
  grid-template-rows: 3fr 2fr 0fr;
  align-items: center;
  justify-items: center;
  transition: all 500ms ease-in-out;
  grid-template-areas:
    "form1  form31  . "
    "form2  form32  . "
    ".    .  . ";
  pointer-events: none;
}
.formen .f-wrapper {
  height: 100%;
  max-width: 45vw;
  max-height: 100%;
  padding: 20px;
}

.formen .f-wrapper svg {
  fill: #4a4a49;
  width: 100%;
  height: 100%;
}
.formen .f-wrapper:nth-child(1) {
  grid-area: form1;
}

.formen .f-wrapper:nth-child(2) {
  grid-area: form2;
}

.formen .f-wrapper:nth-child(3) {
  grid-area: form31;
}
.formen .f-wrapper:nth-child(4) {
  grid-area: form32;
}

.formen svg {
  transform: scale(0.96);
  animation: breathing 3s ease-in-out infinite;
}

.formen .f-wrapper:nth-child(1) svg {
  animation-duration: 9s;
}
.formen .f-wrapper:nth-child(2) svg {
  animation-delay: 4000ms;
  animation-duration: 5s;
}
.formen .f-wrapper:nth-child(3) svg {
  animation-delay: 2000ms;
  animation-duration: 12s;
}
.formen .f-wrapper:nth-child(4) svg {
  animation-delay: 1000ms;
  animation-duration: 8s;
}

.formen[data-state="1"] {
  grid-template-columns: 3fr 2fr 5fr;
  grid-template-rows: 3fr 2fr 2fr;
  grid-template-areas:
    "form1 form1 ."
    "form2  form2 ."
    "form31 form32 .";
  transition: all 500ms ease-in-out;
}

.formen[data-state="2"] {
  grid-template-columns: 1fr 1fr 5fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    "form1 form1 bigContent"
    "form2  form2 bigContent"
    "form31 form32 bigContent";
  transition: all 500ms ease-in-out;
}

.big-content {
  grid-area: bigContent;
  background-color: white;
  width: 100%;
  height: 100%;
}

.menu {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  font-size: 2rem;
  backdrop-filter: hue-rotate(230deg) brightness(200%) contrast(40%)
    saturate(300%);
  cursor: pointer;
  z-index: 10;
}

.menu .menu-header {
  display: flex;
  padding: 20px 20px 20px 30px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 80vh;
  padding-bottom: 70vh;
  pointer-events: none;
}

.content > div {
  width: 50vw;
  height: 700px;
  margin: 30px 30px 60px 30px;
  backdrop-filter: grayscale(100%);
  background: rgba(255, 255, 255, 0.7);

  border-radius: 10px;
  font-size: 2rem;
  padding: 20px;
  transform: translateY(0px);
  opacity: 1;
  z-index: 10;
  transition: all 400ms ease-in-out;
  transition-delay: 300ms;

}

.content.hide > div {
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  backdrop-filter: grayscale(90%) brightness(280%) contrast(60%) opacity(0%);
  transition: all 300ms ease-in-out;
}

.about {
  margin-right: 50px;
  height: 700px;
}

.switch {
  position: fixed;
  top: 30px;
  right: 30px;
}

.switch a {
  display: block;
  margin: 5px;
  background-color: red;
  color: white;
}

.switch span {
  display: block;
  margin: 5px;
  background-color: green;
  color: white;
}

@keyframes breathing {
  0%,
  100% {
    transform: scale(0.96);
  }
  50% {
    transform: scale(1.02);
  }
}
